* {
  margin: 0;
  padding: 0;
}
.main {
  background-color: aqua;
  display: flex;
}
.bamboo {
  width: 9px;
  height: 645px;
  background-color: yellow;
  position: relative;
  margin-left: 300px;
  margin-top: 50px;
}
.ract {
  background-color: green;
  height: 180px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 9px;
}
.circle {
  background-color: red;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.round {
  height: 20px;
  width: 20px;
  background-color: #03a9f4;
  border-radius: 50%;
  position: absolute;
  top: -19px;
  left: -5px;
}
